* {
  margin: 0;
  padding: 0;
}
body {
  background-color:#5C6BC0 ;
}
.cv {
  background-color: black;
  color: white;
  width: 100px;
  height: 25px;
  border: 2px solid #e74c3c;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.3s;
  border-radius: 5px;
}
.cv:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 2px solid green;
}
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.header {
  background-color: black;
  height: 100vh;
  width: 200px;
  flex-direction: column;
  display: none;
  transition: .3s;
  position: absolute;
}
.header__menu {
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: .4s;
  cursor: pointer;
  z-index: 1;
}
.header__menu img {
  height: 100%;
  transition: .3s;
  position: relative;
}
#menu2{
    display: none;
}
.slide{
  width: 350px;
  position: absolute;
  height: 40px;
  right:5px;
  top:5px;
  background-color:rgba(0, 0, 0, 0.122);
}
.slide__contenido{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
.slide__contenido li{
  height: 90%;
  width:95px;
}
.slide__contenido li:hover{
  background-color:rgba(0, 0, 0, .8);
}
.slide-lista{
  text-decoration: none;
  color: rgb(154, 154, 154);
}
.slide-lista:hover{
  color: white;
}
.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__saludo{
  text-align: center;
  border-bottom: 2px solid black;
}